pyside6
pyqtdarktheme
#pyqtdarktheme==2.1.0 --ignore-requires-python # pour python3.12
#pyyaml
opencv-python
#opencv-python-headless
#onnxruntime
onnx
onnxruntime-directml
onnxruntime-openvino
#onnxruntime-gpu
scikit-image
imutils
ultralytics
openvino
torch
py-splash
# torchvision
# torchaudio
#GPUtil
